.par{
    background-color: white;
    height: 62vh;
    width: 78vw;
    padding: 5%;
    overflow-y:scroll;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.booktxt{
    font-family: var(--main-font);
    font-weight: bolder;
}
.booksub{
    font-family: var(--main-font);
    font-weight:bolder;
}
.date{
    display: flex;
font-family: var(--main-font);
}